.container {
    max-width: $max-width;
    padding: 0 1.4rem;
    margin: auto;
}

// buttons
%btn-shared {
    display: inline-block;
    padding: .6rem 5rem;
    font-size: 22px;
    transition: all .5s;
    cursor: pointer;
}

.btn {
    &--primary {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $primary-color;
    }
    &--light {
        @extend %btn-shared;
        color: $danger-color;
        background-color: #fff;
    }
    &--dark {
        @extend %btn-shared;
        color: #fff;
        background-color: $danger-color;
        border-radius: 8px;
        &:hover {
            background-color: #fff;
            color: $danger-color;
            font-weight: bold;
        }
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $primary-color;
}

// bacground
.bg {
    &--primary {
        background-color: $primary-color;
    }
    &--light {
        background-color: $light-color;
    }
    &--dark {
        background-color: $dark-color;
    }
} 
